<h2><%= @care_recipient.name %>さんの居宅サービス計画書 - 新規作成</h2>

<%= render "form", care_recipient: @care_recipient, care_plan: @care_plan %>

<p><%= link_to "計画書の履歴に戻る", care_recipient_care_plans_path(@care_recipient) %></p>
