<h2>ユーザー一覧</h2>

<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th>メールアドレス</th>
        <th>ロール</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.role_label %></td>
          <td><%= link_to "編集", edit_user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
