<h2><%= @care_recipient.name %>さんの緊急連絡先 - 新規</h2>

<div class="panel">
  <%= render "form", care_recipient: @care_recipient, emergency_contact: @emergency_contact %>
</div>

<%= link_to "プロフィールに戻る", @care_recipient %>
