<h1>Editing care recipient</h1>

<%= render "form", care_recipient: @care_recipient %>

<br>

<div>
  <%= link_to "Show this care recipient", @care_recipient %> |
  <%= link_to "Back to care recipients", care_recipients_path %>
</div>
