<h1>対象者情報の編集</h1>

<div class="panel">
  <%= render "form", care_recipient: @care_recipient %>
</div>

<div>
  <%= link_to "対象者の詳細を見る", @care_recipient %> |
  <%= link_to "対象者一覧に戻る", care_recipients_path %>
</div>
