<h2><%= @care_recipient.name %>さんの定期予定 - 新規登録</h2>

<div class="panel">
  <%= render "form", care_recipient: @care_recipient, recurring_schedule: @recurring_schedule %>
</div>

<%= link_to "一覧に戻る", care_recipient_recurring_schedules_path(@care_recipient) %>
